node_modules
**/node_modules

vendor

storage/app
storage/framework
storage/logs
storage/*.key

.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
pnpm-debug.log

Homestead.json
Homestead.yaml
.vscode
.idea
*.iml

public/hot
public/storage

.git
.gitignore
