node_modules/*
database/database.sqlite
public/css
public/js
public/mix-manifest.json
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor/*
.editorconfig
.env
.env.production
.gitattributes
bootstrap/cache/*
storage/debugbar
.vscode/*
public/hot
public/build
# public/lib
ecosystem.config.json
log/
storage/uploads
storage/encrypt_keys
public/uploads

package-lock.json
composer.lock
_ide_helper_models.php
_ide_helper.php
*.log
*.md